<% @data.businesses.each do |venue| %>

<h2>name: <%= venue.name%></h2>
<h2><%= venue.location.display_address%></h2>
<h2>lat: <%= venue.location.coordinate.latitude%></h2>
<h2>long: <%= venue.location.coordinate.longitude%></h2>
<h5>Rating:<%= venue.rating%> (<%= venue.review_count %> reviews)</h5>
<h5>ID: <%= venue.id%></h5> 
<%end%>
<!-- for venue link on each to more info with bic picture and map and show tips and button to select  , which will redirect to edit page  -->
<!-- edit page should display selected trip on top, change stop number show were people ate, and serch nearby for another venue.  ready to go! button  the view will  -->
for restaurant, link on each to more info (view?) or button to select