<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>5-day forecast for <%=@city%>, <%=@state%></h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="ui__section"> 
      <div class="row">
        <% @data["query"]["results"]["channel"]["item"]["forecast"][0..4].each do |day|%>
          <div class="col-md-2" style="border-right: 1px solid #ccc;">
            <h3><%= day["day"]%></h3>
            <h4>High: <%= day["high"]%></h4>
            <h4>Low: <%= day["low"]%></h4>
            <h4><%= day["text"]%></h4>
          </div>
        <% end %>
        <a href="https://www.yahoo.com/?ilc=401" target="_blank"><img src="https://poweredby.yahoo.com/purple.png" class="powered" width="134" height="29"/></a> 
      </div>  
    </div>    
  </div>
  <div class="row">    
    <div class="col-sm-6">
      <h1 class="section__title">Your Trip: <%=@itinerary.title%></h1> 
        <div class="panel panel-default">
          <div class="panel-body">  
          <% n=1 %>
          <% o=1 %>
          <% @itinerary.venues.each_with_index do |venue, index| %>
            <div class="list-group-item">  
              <img class="img-responsive list-group-item__img" src="/img/trip<%=n%>.jpg">
              <h3 class="text-center"><%= venue.name %></h3>
              <h4 class="text-center"><%= venue.address %></h4>
              <h4 class="text-center">Phone: <%= venue.phone %></h4> 
              <% @posts = Post.where("user_id = ? AND api_id = ?", current_user.id, venue.api_id )%>
              <% if @posts.length == 0 %>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title text-center">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapseTwo">
                          Leave a <span class="racing">Trip Tip</span> for this venue
                        </a>
                      </h4>
                    </div>
                    <div id="collapse-<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body text-center">
                        <%= form_tag "/itineraries/#{@itinerary.id}/venues/#{venue.id}", method: :patch do %> 
                          <div>
                            <%= label_tag :text %>
                            <%= text_area_tag :text, "", :size =>"40x5" %>
                          </div>
                          <%= hidden_field_tag :user_id, current_user.id %>
                          <%= hidden_field_tag :api_id, venue.api_id %>
                          <h4>How many hours should I give it?</h4>
                          <div class="select">
                            <span class="arr"></span>
                            <select name="time">
                            <% @times.each do |time| %>
                              <option value=<%=time%>><%=time%></option>
                            <% end %>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-warning powered">Submit</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">TripTip</h3>
                  </div>
                  <div class="panel-body">
                    <h5><p><%= @posts.first.text %></p>
                    Give it about <%= @posts.first.time %> hours.</h5>
                  </div>
                </div>
              <% end %>   
              <% n+=1 %>
            </div>  
          <% end %>    
          <% @itinerary.restaurants.each do |restaurant| %>
            <div class="list-group-item">  
              <img class="img-responsive list-group-item__img" src="/img/food<%=o%>.jpg">
              <h3 class="text-center"><%= restaurant.name %></h3>
              <h4 class="text-center"><%= restaurant.address %></h4>
              <h4 class="text-center">Phone: <%= restaurant.phone %></h4>
            </div> 
            <% o+=1 %> 
          <% end %>
        </div>
      </div>
    </div>     
    <div class="col-sm-6 text-center">
      <%= form_tag "/itineraries/#{@itinerary.id}", method: :delete do %>
        <input class="btn btn-warning" type="submit" value="Edit some more">
      <% end %>   
      <h3><%=link_to "Print PDF", itinerary_path(@itinerary, format: "pdf") %></h3>
    </div>
  </div>
</div>