<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="body-plain__title">
        <h1 class="text-center">Sign In</h1>
      </div>
    </div> 
  </div> 
  <div class="row text-center">
    <%= form_tag '/login', method: :post do %>
      <div>
        <%= label_tag :email  %>
        <%= text_field_tag :email %>
      </div>
      <div class="lower">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <button type="submit" class="btn btn-success ready map">Submit</button>
    <% end %> 
    <h4>First Time? <a href="/signup"> Sign Up!</a></h4>
  </div>
</div>  