<div class="page__header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="page-header__title">Venue Search ResultsResults -    <img src="/img/powered_by_google_on_white.png"></h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="list-group">
        <% @data["results"].each do |venue| %>
          <div class="list-group-item">
            <%= form_tag "/itineraries/#{@itinerary.id}/venues/#{venue["place_id"]}", method: :get do %>   
              <%= hidden_field_tag :venue_id, venue["place_id"] %> 
              <h3><%= venue["name"]%></h3>
              <h4><%= venue["formatted_address"].split(", ")[0...-1].join(", ")%></h4>
              <h4>Rating: <%= venue["rating"]%>  <button type="submit" class="button">More Info</button></h4> 
            <% end %>
          </div>  
        <% end %>
      </div>
    </div> 
  </div>
</div>        