<h1><%= @data["result"]["name"] %></h1>
<h2><%= @data["result"]["formatted_address"] %></h2>
<% if @data["result"]["opening_hours"] %>
  <h3>Hours: <%= @data["result"]["opening_hours"]["weekday_text"] %></h3>
<% end %>
<h4><%= @data["result"]["geometry"]["location"]["lat"] %></h4>
<h4><%= @data["result"]["geometry"]["location"]["lng"] %></h4>


<%= form_tag "/itineraries/#{@itinerary.id}/venues", method: :post do %>
  <div>
    <%= hidden_field_tag :api_id, @data["result"]["place_id"] %>
    <%= hidden_field_tag :name, @data["result"]["name"] %>
    <%= hidden_field_tag :lat, @data["result"]["geometry"]["location"]["lat"] %>
    <%= hidden_field_tag :lng, @data["result"]["geometry"]["location"]["lng"] %>
    <%= hidden_field_tag :address, @data["result"]["formatted_address"] %>
    <%= hidden_field_tag :phone, @data["result"]["formatted_phone_number"] %>
    <%= hidden_field_tag :itinerary_id, @itinerary.id %>
  </div>
  <div class="btn btn-default">
    <%= submit_tag 'Add to itinerary!' %>
  </div>
<% end %>

