<div class="container">
  <div class="row">
    <% if @restaurants %>
      <div class="list-group">
        <img class="img-responsive list-group-item__img" src="/img/logo.jpg">
        <div class="list-group-item__content">
          <h4 class="list-group-item-heading">was here! People who went here ate at <%= @restaurants %>.</h4>
        </div>
        <div class="clearfix"></div>
      </div>  
    <% end %>
    <% @posts.each do |post| %>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">TripTip</h3>
        </div>
        <div class="panel-body">
          <h5><p><%=post.text%></p>
          Give it about <%=post.time%> hours.</h5>
          by <%=post.user.name%>, <%=post.friendly_time%>
        </div>
      </div>
    </div>
    <% end %>  
  </div>
</div>  
<%= render "shared/details", url: "/itineraries/#{@itinerary.id}/venues", saved_markers: @saved_markers %>

