<% @data.each do|venue| %>
<h4>place_id: <%= venue.place_id %></h4>
<h4>lat: <%= venue.lat %></h4>
<h4>lng: <%= venue.lng%></h4>
<h4>name: <%= venue.name %></h4>
<h4>formatted_address: <%= venue.formatted_address %></h4>
<h4>rating: <%= venue.rating%></h4>
<h4>price_level: <%= venue.price_level %></h4>
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
<%end%>
