<div class="container">

  <ul class="nav nav-pills">
    
    <li><a data-toggle="pill" href="#menu1">Add a nearby venue</a></li>
    <li><a data-toggle="pill" href="#menu2">Add a nearby restaurant</a></li>
   
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade">
      <%= form_tag "/itineraries/#{@itinerary.id}/venues", method: :get do %>
                <div class="form-group">
                  <%= label_tag :category, 'What category?'%>
                  <%= text_field_tag :category %>
                  <%= hidden_field_tag :lat, venue.lat %>
                  <%= hidden_field_tag :lng, venue.lng %>
                  <%= submit_tag "Submit" %>
                </div>  
              <% end %>
    </div>
    <div id="menu2" class="tab-pane fade">
      <%= form_tag "/itineraries/#{@itinerary.id}/restaurants", method: :get do %>
                <div class="form-group">
                  <%= label_tag :type, 'What kind of restaurant?'%>
                  <%= text_field_tag :type %>
                  <%= hidden_field_tag :lat, venue.lat %>
                  <%= hidden_field_tag :lng, venue.lng %>
                  <%= submit_tag "Submit" %>
                </div>
              <% end %>
    </div>
  </div>
</div>