<% @data["results"].each do |restaurant| %>
  <h4>lat: <%= restaurant["geometry"]["location"]["lat"] %></h4>
  <h4>lat: <%= restaurant["geometry"]["location"]["lng"] %></h4>
  <h4>Name: <%= restaurant["name"]%></h4>
  <h4>formatted_address: <%= restaurant["formatted_address"] %></h4>
  <h4>Rating: <%= restaurant["rating"]%></h4>
  <h4>price_level: <%= restaurant["price_level"]%></h4>
  <%= form_tag '/restaurants/show', method: :post do %>
    <%= hidden_field_tag :restaurant_id, restaurant["place_id"] %> 
    <%= submit_tag "More info" %>
  <p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
  <% end %>
<% end %> 