<% @data.each do|restaurant| %>

<h4>lat: <%= restaurant.lat %></h4>
<h4>lng: <%= restaurant.lng%></h4>
<h4>name: <%= restaurant.name %></h4>
<h4>formatted_address: <%= restaurant.formatted_address %></h4>
<h4>rating: <%= restaurant.rating%></h4>
<h4>price_level: <%= restaurant.price_level %></h4>
<%= form_tag '/restaurants/show', method: :post do %>
  <%= hidden_field_tag :restaurant_id, restaurant.place_id %> 
  <%= submit_tag "More info" %>
<%end%>
<p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
<%end%>