<div class="page__header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="page-header__title">Restaurant Search Results <img src="/img/powered_by_google_on_white.png" class="powered"></h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <div class="list-group">
        <% @data["results"].each do |restaurant| %>
          <div class="list-group-item">
            <%= form_tag "/itineraries/#{@itinerary.id}/restaurants/#{restaurant["place_id"]}", method: :get do %>
              <%= hidden_field_tag :restaurant_id, restaurant["place_id"] %> 
              <h3><%= restaurant["name"]%></h3>
              <h4><%= restaurant["formatted_address"].split(", ")[0...-1].join(", ")%></h4>
              <h4>Rating: <%= restaurant["rating"]%></h4>
              <h4>Price_level: <%= restaurant["price_level"]%>  <button type="submit" class="info-button">More Info</button></h4>
            <% end %>
          </div>  
        <% end %>
      </div>
    </div> 
  </div>
</div>        